/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    font-family: 'Lora', serif;
    color: #8B4513; /* SaddleBrown */ 
}

h1, h2, h3 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 10px;
    max-width: 600px;
    color: #8B4513; /* SaddleBrown */
}

a {
    text-decoration: none;
    color: #ffffff;
}

p {
    text-align: justify;
    max-width: 600px;
}

hr {
    margin: 10px 0;
    height: 2px;
    max-width: 600px;
    background-color: #F4A460;
    border-width: 0;
}

img {
    height:300px;
    width: 250px;
    object-fit: cover;
    margin: 0;
    border-radius: 15%;
}

/* :hover */
#social-networks i:hover {
    color: #FF8C00;
    background-color: rgba(255, 255, 255, 0.2);
}

button:hover {
    background-color: #556B2F;
}

/* Button */
button {
    background-color: #8B4513; /* SaddleBrown */
    color: #FFFFFF;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.8rem;
}

/* Header */
header {
    background-color: #4682B4; /* SteelBlue */
    display: flex;
    position: fixed;
    z-index: 99;
    width: 100%;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 2px #8B4513; /* SaddleBrown */
}

header a {
    text-decoration: none;
}

#logo {
    color: #FFFFFF;
    padding: 2px 10px;
    text-align: center;
    font-size: larger;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

#menu {
    list-style-type: none;
    font-size: 110%;
    letter-spacing: 2px;
    text-align: center;
}

#menu a {
    color: #FFFFFF;
    font-size: large;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.active {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Navbar styles with dropdown toggle */
nav {
    background-color: #556B2F; /* DarkOliveGreen */
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    box-shadow: 0 2px 2px #8B4513; /* SaddleBrown */
    display: none;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    align-self: center;
}

header i {
    color: #F4A460; /* SandyBrown */
}

/* Main content index.html */
main {
    flex: 1 0 auto;
    /* Add margin top to prevent content being hidden by header */
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

#hero {
    background: url(../images/Two\ zebra.jpg) no-repeat center center/cover;
    width: 100%;
    height: 600px;
    position: relative;
}

.cover-text {
    background-color: rgba(85, 107, 47, 0.8);
    width: 80%;
    min-height: auto;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    margin: 20px 0;
    bottom: 20px;
}

.quote-text {
    color: #FFFFFF;
    font-size: 1.5em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    padding: 5px;
    border-radius: 3px;
}

/* About us */
#about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 20px;
    gap: 20px;
    background-color: rgba(244, 164, 96, 0.3);
}

/* Our Mission*/
#our-mission-one,
#our-mission-two,
#our-mission-three {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 20px;
    padding: 20px 20px;
    background-color: rgba(244, 164, 96, 0.1);
}

#our-mission-one,
#our-mission-two {
    border-bottom: 5px solid #FFFFFF;
}

/* Find out more */
#find-out-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 20px;
    gap: 20px;
    background-color: rgba(244, 164, 96, 0.3);
}

#buttons-main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    justify-content: space-evenly;
}

/* Main Content projects.html */
#hero-projects {
    background: url(../images/Chettah.jpg) no-repeat center center/cover;
    width: 100%;
    height: 600px;
    position: relative;
}

#project1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 20px;
    padding: 20px 20px;
    background-color: rgba(244, 164, 96, 0.1);
}

#project2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 20px;
    padding: 20px 20px;
    background-color: rgba(244, 164, 96, 0.3);
}

#project3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 20px;
    padding: 20px 20px;
    background-color: rgba(244, 164, 96, 0.1);
}

#project1-text,
#project2-text,
#project3-text {
    margin-bottom: 20px;
}

/* Main Content support.html */
#hero-support {
    background: url(../images/Meerkat.jpg) no-repeat center center/cover;
    width: 100%;
    height: 600px;
    position: relative;
}

#volunteer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 20px;
    padding: 20px 20px;
    background-color: rgba(244, 164, 96, 0.1);
}

#donate {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 20px;
    padding: 20px 20px;
    background-color: rgba(244, 164, 96, 0.3);
}

/* Main Content contact.html */
#hero-contact {
    background: url(../images/single_giraffe.jpg);
    background-size: cover;
    background-position: 70%;
    flex-grow: 1;
    padding: 20px 10px;
}

#contact-form {
    position: relative;
    padding: 20px;
    color: #FFFFFF;
    background-color: rgba(85, 107, 47, 0.8);
    top: 40px;
}

#contact-form h2,
#contact-form h3 {
    color: #FFFFFF;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    padding-bottom: 5px;
    }

.text-input {
    background: transparent;
    display: flex;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 5px;
    width: 100%;
    height: 25px;
    margin: 10px 0 10px 0;
    padding: 10px;
}

.radio-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0 20px 0;
}

.checkbox {
    width: 100%;
    margin: 10px 0 20px 0;
}

#checkbox-quater {
    margin-bottom: 10px;
}

.contact-button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

/* thank you */
#hero-thanks {
    background: url(../images/thanks.jpg) no-repeat center center/cover;
    width: 100%;
    height: 800px;
    position: relative;
}

/* Footer */
footer {
    background-color: #4682B4; /* DarkOliveGreen */
    width: 100%;
}    

#social-networks {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    list-style-type: none;
}

#social-networks i {
    color: #FFFFFF;
    padding: 10px;
    font-size: 1.5rem;
}

 /* Media query: bigger smartphone screens - fixing gap Header to Main (343px to 767px) */
 @media screen and (min-width: 343px) {
    main {
        margin-top: 41px;
    }
 }
 
 /* Media query: large or landscape phones (506px and up) */
@media screen and (min-width: 506px) {
    .checkbox {
        display: flex;
        column-count: 2;
        justify-content: space-evenly;
        max-width: 520px;
    }

    #contact-form {
        max-width: 600px;
    }
    
    button {
        font-size: 1rem;
    }
}

  /* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    header {
        display: flex;
        justify-content: center;
        min-height: 65px;    
    }

    nav {
        display: flex;
        position: relative;
        box-shadow: none;
        width: fit-content;
        height: 65px;
        align-items: center;
    }

    #menu {
        display: flex;
        flex-direction: row;
        height: 65px;
    }

    #menu li {
        width: 100%;
        min-width: 100px;
        height: 100%;
        padding: 0 5px;
        align-content: center;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        margin: 0.5rem 0.5rem;
        font-size: 150%;
        max-width: 250px;
    }

    /* Home Page */
    #about-us {
        flex-direction: row;
        justify-content: space-evenly;
    }

    #our-mission-one,
    #our-mission-three {
        flex-direction: row-reverse;
        padding: 20px 20px;
        gap: 20px;
    }

    #our-mission-two {
        flex-direction: row;
        padding: 20px 20px;
        gap: 20px;
    }

    #our-mission-one,
    #our-mission-two {
        border-bottom: 5px solid #FFFFFF;
    }

    /* Project page */
    #project1,
    #project3 {    
        flex-direction: row;
        justify-content: space-evenly;
    }
    #project2 {    
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    .header_image {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    /* Support page */
    #volunteer,
    #donate {
        flex-direction: row;
    }

    /* Contact page */
    #contact-form {
        position: relative;
        top: 50px;
        left: 100px;
    }

    /* General */
    button {
        font-size: 1.25rem;
    }

    main {
        margin-top: 78px;
    }

    .cover-text {
        width: 300px;
        right: 50px;
    }

    img {
        min-width: 250px;
    }

    h1, h2 {
        font-size: 2rem;
        padding: 0;
    }

    h3 {
        font-size: 1.5rem;
        padding: 10px;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 768px) {
    #menu li:hover {
        border: 1px solid #8B4513;
        background-color: rgba(255, 255, 255, 0.1);
    }

    #menu li {
        transition: background-color 0.5s;
    }
}