/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    font-family: 'Lora', serif;
    background-color: #F4A460; /* W체stenbeige */
    color: #8B4513; /* Erdisches Braun */ 
}

h1, h2, h3 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #A52A2A; /* D채mmerungsrot */
}

/* perhaps for the main content
a {
    color: #6B8E23; Akaziengr체n 
}    
*/

#menu a:hover {
    color: #FF8C00; /* Sonnenuntergangsorange */
}

/* Button */

button:hover {
    background-color: #DAA520; /* Savannengelb */
}

button {
    background-color: #FF8C00; /* Sonnenuntergangsorange */
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Header */
header {
    background-color: #4682B4; /* Himmelblau */
    display: flex;
    position: fixed;
    z-index: 99;
    width: 100%;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 2px #8B4513;
}

header a {
    text-decoration: none;
}

#logo {
    color: #8B4513;
    padding: 2px 10px;
    text-align: center;
    font-size: larger;
}

#menu {
    list-style-type: none;
    font-size: 110%;
    letter-spacing: 2px;
}

#menu a {
    color: #FFF8DC;
    font-size: large;
}

.active {
    border-bottom: 1px solid #F4A460;
}

/* Navbar styles with dropdown toggle */
nav {
    background-color: #556B2F; /* Grasgr체n */
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #8B4513;
    display: none;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    align-self: center;
}

/* Main content */
main {
    background-color: #FFF8DC;
    color: #8B4513; /* Erdisches Braun */
    flex: 1 0 auto;
    /* Add margin top to prevent content being hidden by header */
    margin-top: 50px;
}

/* Footer */
footer {
    background-color: #2E8B57; /* Ozeanblau */
    color: #FFFFFF;
    width: 100%;
}    

#social-networks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 10px 0;
    font-size: 1.5rem;
}