/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    font-family: 'Lora', serif;
    color: #8B4513; /* SaddleBrown */ 
}

h1, h2, h3 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #8B4513; /* SaddleBrown */
}

/* :hover */
#menu a:hover {
    color: #FF8C00; /* DarkOrange */
}

#social-networks i:hover {
    color: #FF8C00; /* DarkOrange */
}

button:hover {
    background-color: #DAA520; /* GoldenRod */
}

/* Button */
button {
    background-color: #FF8C00; /* DarkOrange */
    color: #FFFFFF;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.8rem;
}

/* Header */
header {
    background-color: #4682B4; /* SteelBlue */
    display: flex;
    position: fixed;
    z-index: 99;
    width: 100%;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 2px #8B4513; /* SaddleBrown */
}

header a {
    text-decoration: none;    
}

#logo {
    color: #F4A460; /* SandyBrown */
    padding: 2px 10px;
    text-align: center;
    font-size: larger;
}

#menu {
    list-style-type: none;
    font-size: 110%;
    letter-spacing: 2px;
    text-align: center;
}

#menu a {
    color: #F4A460; /* SandyBrown */
    font-size: large;
    text-decoration: none;
}

.active {
    border-bottom: 1px solid #F4A460; /* SandyBrown */
}

/* Navbar styles with dropdown toggle */
nav {
    background-color: #556B2F; /* DarkOliveGreen */
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #8B4513; /* SaddleBrown */
    display: none;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    align-self: center;
}

header i {
    color: #F4A460; /* SandyBrown */
}

/* Main content index.html*/
main {
    flex: 1 0 auto;
    /* Add margin top to prevent content being hidden by header */
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

#hero {
    background: url(/assets/images/Two\ zebra.jpg) no-repeat center/cover;
    width: 100%;
    height: 600px;
    position: relative;
}

#cover-text {
    background-color: #556B2F90;
    width: 80%;
    min-height: auto;
    padding: 20px;
    position: absolute;
    bottom: 20px;
}

#cover-text h3 {
    color: #F4A460;
}

/* About us */
#about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    background-color: rgba(244, 164, 96, 0.3);
}

#about-us-image {
    background: url(/assets/images/Group.jpg) no-repeat center center/cover;
    width: 250px;
    height: 250px;
    margin: 20px 0;
    border-radius: 25%;
}

/* Our Mission*/
#our-mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    background-color: rgba(244, 164, 96, 0.1);
}

#our-mission-image {
    background: url(/assets/images/elefants.jpg) no-repeat center center/cover;
    width: 250px;
    height: 250px;
    margin: 20px 0;
    border-radius: 25%;
}

/* Find out more */
#find-out-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 40px 20px;
    background-color: rgba(244, 164, 96, 0.3);
}

#buttons-main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    justify-content: space-evenly;
}

#buttons-main button {
    flex: 0 1 100px;
}

#buttons-main a {
    text-decoration: none;
}

/* Main Content projects.html */

#hero-chettah {
    background: url(/assets/images/Chettah.jpg) no-repeat center/cover;
    width: 100%;
    height: 600px;
    position: relative;
}

/* Main Content volunteering.html */

#hero-meerkat {
    background: url(/assets/images/Meerkat.jpg) no-repeat center/cover;
    width: 100%;
    height: 600px;
    position: relative;
}

/* Main Content support_contact.html */

#hero-giraffes {
    background: url(/assets/images/Giraffes.jpg) no-repeat center/cover;
    width: 100%;
    height: 600px;
    position: relative;
}

/* Footer */
footer {
    background-color: #556B2F; /* DarkOliveGreen */
    width: 100%;
}    

#social-networks {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    list-style-type: none;
}

#social-networks i {
    color: #F4A460; /* SandyBrown */
    padding: 10px;
    font-size: 1.5rem;
}

